.footer {
   
    background: #242424;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  
}
.right {
    margin-left: 15px;
    color: #878787;
    font-size: 12px;
}
.footer a {
    text-decoration: none;
    color: #fff;
}